---
pagination:
  data: collections.liveTags
  size: 1
  alias: tag
layout: layouts/journal.njk
permalink: "/journal/category/{{ tag | slugify }}/"
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Archived in {{ tag }}"
---
