---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.journal | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author><name>{{ site.author }}</name></author>
  {%- for post in collections.journal | limit(20) %}
  {%- set absurl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absurl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absurl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absurl) }}</content>
  </entry>
  {%- endfor %}
</feed>
