---
layout: layouts/base.njk
bodyClass: journal
bodyId: multiple
---
<div id="content-wrap">
<div id="content-pri">
<h2 class="page-title">{{ title }}</h2>
{% if sub %}<p class="sub">{{ sub }}</p>{% endif %}
{%- set entries = (collections[tag] | reverse) if tag else collections.journal %}
{%- for e in entries %}
{%- include "partials/index-entry.njk" %}
{%- endfor %}
</div>
<div id="content-sec"></div>
</div>
