---
layout: layouts/base.njk
---
<div id="content-wrap">
<div id="content-pri">
<h1 class="page-title">{{ title }}</h1>
{% if sub %}<p class="sub">{{ sub }}</p>{% endif %}
<div class="entry{% if dropcap %} dropcap{% endif %}">
{{ content | safe }}
</div>
</div>
<div id="content-sec"></div>
</div>
