{#- Masthead: the v4 logo lockup set in type; the whole thing is one link home. -#}
<div id="branding"><a href="/" rel="home"><span class="m-strap">{{ site.masthead.strap }}</span><span class="m-line">{{ site.masthead.line }}</span><span class="m-name">{{ site.masthead.name }}</span></a></div>
